.firstClass{
    color: aqua;
    border: 2px dashed orange;
    background-color: antiquewhite;
    text-align: center;
    margin-left: 45px;
    margin-right: 45px;
 
}
.secondClass{
    color:darkolivegreen;
    background-color: aqua;
    text-align: right;
    border: 1px dotted black;
    padding: 10px;
    margin-bottom: 100px;
    text-align: center;
}
.thirdClass{
    color:fuchsia;
    border: 5px solid yellow;
    margin-top: 20px;
    margin-bottom: 100px;
    background-color: green;
    text-align: center;
}
#firstId{
    color: deepskyblue;
    
}
#secondId{
    color: yellow;
}
#thirdId{
    color: blue;
}
.grnBg {
    background-color: green;
}
.fontSize {
    font-size: 50px;
}