body{
    background-image:url("images%20(4).jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}  
input[type=number]{
    width: 25%;
    height: 35px;
    background-color:lightskyblue;
    border: solid 2px bluo ;
}

input[type=text]{
    width: 25%;
    height: 35px;
    background-color:dodgerblue;
    border: solid 2px bluo ;
}
