<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="Mighty%20Clicker.css">
</head>

<body ng-app="myApp">
    <div class="container-fluid" ng-controller="myController">

        <div class="row">
            <div class="col-md-6"><br>
                <button ng-click="blueService()" type="button" class="btn btn-success">+</button>
                <p>{{counter}}</p>
            </div>

            <div class="col-md-6"><br>
                <button ng-click="redService()" type="button" class="btn btn-danger">-</button>
                <P>{{counters}}</P>
                  <input ng-click="rest()" type="button" id="btn" value="reset" class="btn btn-info">
                  <p>{{rest}}</p>
            </div>
        </div>
    </div>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
    <script src="Mighty%20Clicker.js"></script>
</body>

</html>